* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.preview {
    padding: 199px 238px 160px 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.preview__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

img {
    max-width: 100%;
    width: 576px;
}

.preview-content {
    max-width: 500px;
    width: 100%;
}

.preview-content__title {
    font: normal 400 58px/63.8px "Fraunces", sans-serif;
}

.preview-content__text {
    margin-top: 24px;
    font: 400 20px/30px "Inter", sans-serif;
    width: auto;
}

.preview-content__button, .preview-content__link {
    display: inline-block;
    font: 400 17px/27px "Inter", sans-serif;
    margin-top: 29px;
}

.preview-content__button {
    background-color: #0070A0;
    color: white;
    padding: 8px 56px;
    border-radius: 8px;
    margin-right: 30.58px;
    width: 221px;
}

.preview-content__link {
    color: #0070A0;
    padding: 15px 0;
}

.preview-content__link .link-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow-icon {
    width: 18px;
    height: 21px;
    object-fit: contain;
}