* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.preview {
    padding: 199px 0 160px calc(50% - 478px);
}

.preview__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

img {
    max-width: 100%;
    width: 576px;
}

.preview-content {
    max-width: 669.03px;
    width: 100%;
}

.preview-content__title {
    font: normal 400 58px/63.8px "Fraunces", sans-serif;
}

.review-content__text {
    margin-top: 21px;
    width: 447px;
    font: 400 20px/30px "Fraunces", sans-serif;
}

.preview-content__button.preview-content__link {
    display: inline-block;
    margin-top: 32px;
}