* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 50px 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
    color: #444;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
}

.card h3 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0 0 25px 0;
    text-align: left;
    color: #555;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 1px;
}


.price {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}